* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.row{
    display: flex;
}

.box{
    border: 1px solid black;
    background-color: white;
}