* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.row{
    display: flex;
}

.box{
    border: 1px solid black;
    background-color: white;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    gap: 16px;
}

.change-grid{
    font-size: 60px;
    padding: 8px;
}

.clear-grid{
    font-size: 52px;
    padding: 8px;
    margin: 4px;
}
